body{
	background-color: rgb(38,47,52);
}

.content{
	margin-top: 50px;
}
.calling_img {
	/*how do you not remember how to center a div*/
	text-align: center;
	margin:auto;
	margin-top: -50px;
	
}
.calling_img img{
	width: 855px;
}

.content_container{
	position: relative;
	width: 850px;
	background-color: white;
	padding:20px 50px;
	margin: auto;
	margin-top: -50px;
	margin-bottom: 100px;
	z-index: 1;

}
.content_container h1{
	text-align: center;
}
.content_container ul{
	/*figure out how to make a dash and no indent. */
}
.content_container p, ol{
	margin-bottom: 20px;
}

@media only screen and (max-width: 855px){
	.calling_img{
		width: 100%;
		margin-top: 0;
	}
	.calling_img img{
		width: 100%;
		height: auto;
	}
	.content_container{
		position: relative;
		width: 80%;
		background-color: white;
		padding:5px 5px;
		margin: auto;
		margin-top: -50px;
		margin-bottom: 100px;
		z-index: 1;
}
.content_container h1{
	font-size: 24px;
}

}
.underline{
	text-decoration: underline;
}

.text_chunk{
	color: white;
	margin:auto;
	width:65%;
}
.text_chunk h1{
	text-align: center;
	margin-top: 40px;
}
.text_chunk p{
	margin-top: 20px;
	margin-bottom: 5px;
}
.text_chunk a{
	color: white;
}
/*different text chunks height/width caps*/
.text_chunk{
	width: 640px;
	text-align: center;
}
#other_medical_services{
	margin-bottom: 125px;
}
#uncenter_bullets{
	text-align: left;
}
#active{
	margin-bottom: 235px;
}

@media only screen and (max-width: 640px) {
.text_chunk {
	width: unset;
	margin-left: 20px;
	margin-right: 20px;
}
#active{
	margin-bottom:100px;
}
}
.the_team_container{
	max-width:850px;
	text-align:center;
	margin: auto;
	margin-bottom: 100px;
	height: auto;
	color: white;
	overflow:auto;
}

.the_team_container .third{
	min-width: 250px;
	float: left;
}
.the_team_container .underline{
	text-decoration: underline;
	margin-bottom: 20px;
}
#other_services{
	margin-bottom: 125px;
}

@media only screen and (max-width: 749px) {
.the_team_container .third{
 	width: 50%;
  }
  .the_team_container .roster .third{
width: 100% 
}
#hide_label{
	display: none;
}
#other_services{
	margin-bottom: 50px;
}

}

@media only screen and (max-width: 499px) {
.the_team_container .third, .the_team_container .half{
 	width: 100%;
  }
}
/*Home page css, copy of the_team_container*/
.home_page_container{
	max-width:850px;
	text-align:center;
	margin: auto;
	height: auto;
	color: white;
	overflow:auto;
}

.home_page_container .third{
	min-width: 250px;
	float: left;
}
.
.home_page_container .underline{
	text-decoration: underline;
	margin-bottom: 20px;
}
@media only screen and (max-width: 749px) {
.home_page_container .third{
 	width: 50%;
  }
.home_page_container .roster .third{
width: 100% 
}
#hide_label{
	display: none;
}
}

@media only screen and (max-width: 499px) {
.home_page_container .third, .home_page_container .half{
 	width: 100%;
  }
} 
.half_img{
	margin-bottom: 200px;
}


@media only screen and (max-width: 1080px) {
.content_container .half{
	width: 100%;
}
.half_img{
	display: none;
}
}

.the_team_container img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin-bottom: 20px;
}
.the_team_container p{
	margin-bottom: 20px;
}
.home_page_container p{
	margin-bottom: 20px;
}
.home_page_container a{
	color: white;
	text-decoration: none;
}


.roster p{
	margin-bottom: 5px;
}
.roster .underline{
	margin-top: 10px;
}
#address{
	width: 215px;
}
.contact_info{
	width: 150px;
}
/*SERVICE TAGS*/
.in{
	display: none;
}
.out{
	display: none;
}
.article{
	margin-bottom:50px;
	width: 100%;
	min-height: 400px;
}
.article_container{
	height: 400px;
	width: 800px;
	margin:auto;
}
.article_container .half{
	background-color: white;
	height: 400px;
	text-align: center;
}
.article_container .half p{
	position: relative;
	top: 48%;
	margin: auto;
	max-width: 300px;

}
.first {
	margin-top: 100px;
}

/*News Articles*/


#emergency_cpr{
	background-image: url('res/emergency_cpr.png');
	background-size: 300px 200px;
	background-position: 50px 100px;

	background-repeat: no-repeat;
}
#choking_guide{
	background-image: url('res/choking_guide.jpg');
	background-size: 600px 800px;
	background-position: -100px;
}

#stud_life_recognition{
	background-image: url('res/stud_life_recognition.jpg');
	background-size: 600px 400px;
	background-position: -100px;
}

#qanda{
	background-image: url('res/truck_side.jpg');
	background-size: 600px 400px;
	background-position: -100px;
	overflow: hi;
}


